# Treatment Episode Data Set (TEDS)
[2019 Admissions data](https://www.datafiles.samhsa.gov/dataset/treatment-episode-data-set-admissions-2019-teds-2019-ds0001)
[2019 Discharge data](https://www.datafiles.samhsa.gov/dataset/teds-d-2019-ds0001-teds-d-2019-ds0001)

In [26]:
import pandas as pd
import numpy as np

admissions = 'tedsa_puf_2019.csv'
discharges = 'tedsd_puf_2019.csv'
dfa = pd.read_csv(f'../../Downloads/{admissions}')
dfd = pd.read_csv(f'../../Downloads/{discharges}')
# df2 = df.replace(-9, np.nan)

In [27]:
dfa

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2019,20191646366,2,-9,1,1,7,-9,0,1,...,0,0,0,0,0,0,9,4,0,3
1,2019,20191553029,2,-9,3,2,7,-9,1,1,...,0,0,0,0,0,0,9,4,0,3
2,2019,20191530436,2,-9,3,2,7,-9,2,1,...,0,0,0,0,0,0,9,4,0,3
3,2019,20191494020,2,-9,4,1,7,-9,0,1,...,0,0,0,0,0,1,9,4,0,3
4,2019,20191568091,2,-9,4,1,7,-9,0,1,...,0,0,0,0,0,1,9,4,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864362,2019,20191814549,56,-9,1,1,6,3,0,7,...,0,0,0,0,0,0,8,4,0,3
1864363,2019,20191451369,56,-9,2,1,7,3,0,7,...,0,0,0,0,0,1,8,4,0,3
1864364,2019,20191794231,56,-9,2,1,7,3,0,7,...,0,0,0,0,0,0,8,4,0,3
1864365,2019,20191692349,56,-9,1,1,7,3,0,7,...,0,0,0,0,1,0,8,4,0,3
1864366,2019,20191582792,56,-9,3,4,7,3,0,7,...,0,0,0,0,0,0,8,4,0,1

In [28]:
dfd

,DISYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,LOS,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2019,20191553576,2,-9,4,1,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,1
1,2019,20191465214,2,-9,3,1,7,-9,35,1,...,0,0,0,0,0,0,9,4,0,3
2,2019,20191443889,2,-9,2,1,7,-9,35,1,...,0,0,0,0,0,0,9,4,0,3
3,2019,20191409377,2,-9,3,1,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,3
4,2019,20191479567,2,-9,3,3,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722498,2019,20191743528,56,-9,4,2,7,-9,33,1,...,0,0,0,0,0,0,8,4,0,1
1722499,2019,20191666713,56,-9,3,3,7,1,13,7,...,0,0,0,0,0,0,8,4,0,2
1722500,2019,20191405666,56,-9,2,1,6,-9,33,1,...,0,0,0,0,0,0,8,4,0,2
1722501,2019,20191697509,56,-9,1,1,7,3,14,7,...,0,0,0,0,0,0,8,4,0,3
1722502,2019,20191502624,56,-9,-9,4,7,-9,13,1,...,0,0,0,0,0,0,8,4,0,1

In [29]:
df = dfa.merge(dfd, how='inner', on='CASEID')

In [31]:
dfd['METHUSE'].value_counts()/len(dfd['METHUSE'])

 2    0.770657
 1    0.125538
-9    0.103805
Name: METHUSE, dtype: float64

In [32]:
# Frequencies for each group
dfa['METHUSE'].value_counts()/len(dfa['METHUSE'])

 2    0.738737
 1    0.136930
-9    0.124333
Name: METHUSE, dtype: float64

In [37]:
dfa_methuse = dfa[dfa['METHUSE']==1]
dfd_methuse = dfd[dfd['METHUSE']==1]
df_methuse = dfa_methuse.merge(dfd_methuse, how='outer', on='CASEID', suffixes=('_a', '_d'))

In [54]:
df_meth = df_methuse[['METHUSE_a', 'METHUSE_d']]
df_meth_a = df_meth.dropna(subset=['METHUSE_d'])
df_meth_d = df_meth.dropna(subset=['METHUSE_a'])
df_meth_ad = df_meth.dropna(subset=['METHUSE_a', 'METHUSE_d'])

In [57]:
print(len(df_meth))
print(len(df_meth_a)/len(df_meth))
print(len(df_meth_d)/len(df_meth))
print(len(df_meth_ad)/len(df_meth))

438512
0.4931199146203525
0.582168788995512
0.07528870361586457

In [67]:
# What is the METHUSE percent by state?
df1 = dfa[['STFIPS', 'METHUSE']].replace(-9, np.nan)
df1 = df1.dropna()
df1['METHUSE'] = df1['METHUSE'].replace(2, 0)
df1.groupby('STFIPS').mean()

# df1.groupby(['STFIPS', 'METHUSE']).count()

         METHUSE
STFIPS
1       0.101228
2       0.152891
4       0.058486
5       0.054166
6       0.176648
8       0.061147
9       0.128184
10      0.210136
11      0.107992
13      0.033405
15      0.007649
16      0.004354
17      0.033141
18      0.114548
19      0.034900
20      0.020392
21      0.159234
22      0.010380
23      0.582431
24      0.319026
25      0.209084
26      0.513249
27      0.109479
28      0.007735
29      0.041351
30      0.000000
31      0.031119
32      0.116703
33      0.127257
34      0.511096
35      0.496116
36      0.197816
37      0.047663
38      0.044776
39      0.148178
40      0.001519
42      0.170183
44      0.591663
45      0.127610
46      0.017252
47      0.002096
48      0.053757
49      0.087740
50      0.384751
51      0.000000
55      0.035199
56      0.008550
72      0.119970

In [69]:
dfa.groupby('SUB1').count()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
SUB1,,,,,,,,,,,,,,,,,,,,,
-9,109826,109826,109826,109826,109826,109826,109826,109826,109826,109826,...,109826,109826,109826,109826,109826,109826,109826,109826,109826,109826
1,32317,32317,32317,32317,32317,32317,32317,32317,32317,32317,...,32317,32317,32317,32317,32317,32317,32317,32317,32317,32317
2,574148,574148,574148,574148,574148,574148,574148,574148,574148,574148,...,574148,574148,574148,574148,574148,574148,574148,574148,574148,574148
3,107363,107363,107363,107363,107363,107363,107363,107363,107363,107363,...,107363,107363,107363,107363,107363,107363,107363,107363,107363,107363
4,208843,208843,208843,208843,208843,208843,208843,208843,208843,208843,...,208843,208843,208843,208843,208843,208843,208843,208843,208843,208843
5,438288,438288,438288,438288,438288,438288,438288,438288,438288,438288,...,438288,438288,438288,438288,438288,438288,438288,438288,438288,438288
6,2631,2631,2631,2631,2631,2631,2631,2631,2631,2631,...,2631,2631,2631,2631,2631,2631,2631,2631,2631,2631
7,124691,124691,124691,124691,124691,124691,124691,124691,124691,124691,...,124691,124691,124691,124691,124691,124691,124691,124691,124691,124691
8,5049,5049,5049,5049,5049,5049,5049,5049,5049,5049,...,5049,5049,5049,5049,5049,5049,5049,5049,5049,5049
9,2227,2227,2227,2227,2227,2227,2227,2227,2227,2227,...,2227,2227,2227,2227,2227,2227,2227,2227,2227,2227
10,209014,209014,209014,209014,209014,209014,209014,209014,209014,209014,...,209014,209014,209014,209014,209014,209014,209014,209014,209014,209014
11,10810,10810,10810,10810,10810,10810,10810,10810,10810,10810,...,10810,10810,10810,10810,10810,10810,10810,10810,10810,10810
12,2651,2651,2651,2651,2651,2651,2651,2651,2651,2651,...,2651,2651,2651,2651,2651,2651,2651,2651,2651,2651
13,17597,17597,17597,17597,17597,17597,17597,17597,17597,17597,...,17597,17597,17597,17597,17597,17597,17597,17597,17597,17597
14,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132
15,930,930,930,930,930,930,930,930,930,930,...,930,930,930,930,930,930,930,930,930,930
16,1883,1883,1883,1883,1883,1883,1883,1883,1883,1883,...,1883,1883,1883,1883,1883,1883,1883,1883,1883,1883
17,734,734,734,734,734,734,734,734,734,734,...,734,734,734,734,734,734,734,734,734,734
18,716,716,716,716,716,716,716,716,716,716,...,716,716,716,716,716,716,716,716,716,716
19,14517,14517,14517,14517,14517,14517,14517,14517,14517,14517,...,14517,14517,14517,14517,14517,14517,14517,14517,14517,14517