# Treatment Episode Data Set (TEDS)
[Substance Abuse Mental Health Archive](https://www.datafiles.samhsa.gov/dataset/treatment-episode-data-set-admissions-2019-teds-2019-ds0001)

In [18]:
import pandas as pd
import numpy as np

filename = 'tedsa_puf_2019.csv'
df = pd.read_csv(f'../../Downloads/{filename}')
df2 = df.replace(-9, np.nan)

In [14]:
df

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2019,20191646366,2,NaN,1.0,1.0,7,NaN,0.0,1.0,...,0,0,0,0,0,0,9,4,0.0,3
1,2019,20191553029,2,NaN,3.0,2.0,7,NaN,1.0,1.0,...,0,0,0,0,0,0,9,4,0.0,3
2,2019,20191530436,2,NaN,3.0,2.0,7,NaN,2.0,1.0,...,0,0,0,0,0,0,9,4,0.0,3
3,2019,20191494020,2,NaN,4.0,1.0,7,NaN,0.0,1.0,...,0,0,0,0,0,1,9,4,0.0,3
4,2019,20191568091,2,NaN,4.0,1.0,7,NaN,0.0,1.0,...,0,0,0,0,0,1,9,4,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864362,2019,20191814549,56,NaN,1.0,1.0,6,3.0,0.0,7.0,...,0,0,0,0,0,0,8,4,0.0,3
1864363,2019,20191451369,56,NaN,2.0,1.0,7,3.0,0.0,7.0,...,0,0,0,0,0,1,8,4,0.0,3
1864364,2019,20191794231,56,NaN,2.0,1.0,7,3.0,0.0,7.0,...,0,0,0,0,0,0,8,4,0.0,3
1864365,2019,20191692349,56,NaN,1.0,1.0,7,3.0,0.0,7.0,...,0,0,0,0,1,0,8,4,0.0,3
1864366,2019,20191582792,56,NaN,3.0,4.0,7,3.0,0.0,7.0,...,0,0,0,0,0,0,8,4,0.0,1

In [15]:
df.describe()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
count,1864367.0,1.864367e+06,1.864367e+06,982434.000000,1.664290e+06,1.447521e+06,1.864367e+06,353954.000000,1.692191e+06,1.724686e+06,...,1.864367e+06,1.864367e+06,1.864367e+06,1.864367e+06,1.864367e+06,1.864367e+06,1.864367e+06,1.864367e+06,1.722244e+06,1.864367e+06
mean,2019.0,2.019093e+10,2.478276e+01,30722.986104,2.987250e+00,1.668921e+00,5.523787e+00,3.843539,1.654585e+00,3.445014e+00,...,3.041247e-04,9.601114e-04,3.857610e-03,1.007312e-03,1.352738e-03,3.075199e-02,4.537736e+00,2.402724e+00,2.262658e-01,1.925228e+00
std,0.0,5.382776e+05,1.445169e+01,10901.791988,9.474216e-01,1.093607e+00,1.960209e+00,2.249690,1.859188e+00,2.644121e+00,...,1.743652e-02,3.097079e-02,6.198976e-02,3.172220e-02,3.675471e-02,1.726451e-01,2.573405e+00,1.148391e+00,4.184133e-01,8.498754e-01
min,2019.0,2.019000e+10,1.000000e+00,10180.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2019.0,2.019047e+10,9.000000e+00,19780.000000,2.000000e+00,1.000000e+00,4.000000e+00,3.000000,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00
50%,2019.0,2.019093e+10,2.500000e+01,35620.000000,3.000000e+00,1.000000e+00,7.000000e+00,3.000000,1.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00
75%,2019.0,2.019140e+10,3.600000e+01,39300.000000,3.000000e+00,2.000000e+00,7.000000e+00,5.000000,3.000000e+00,7.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,3.000000e+00,0.000000e+00,3.000000e+00
max,2019.0,2.019186e+10,7.200000e+01,49700.000000,5.000000e+00,4.000000e+00,8.000000e+00,8.000000,5.000000e+00,7.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00

In [21]:
df['METHUSE'].value_counts()/len(df['METHUSE'])

 2    0.738737
 1    0.136930
-9    0.124333
Name: METHUSE, dtype: float64

In [25]:
df3 = df2['METHUSE'].dropna()
df3.value_counts()/len(df3)

2.0    0.843628
1.0    0.156372
Name: METHUSE, dtype: float64

In [ ]:
df4