## Load data

In [1]:
import pandas as pd
import ast
import numpy as np

# Load in data
admissions = 'tedsa_puf_2019.csv'
df_raw = pd.read_csv(f'../../Downloads/{admissions}')

## Filter out select rows and columns

In [2]:
# Get count of original number of rows
old_rows = len(df_raw)

# Drop defined columns (year of admission, case id, geographic metro area, geographic division, geographic region)
columns_to_drop = ['ADMYR', 'CASEID', 'CBSA2010', 'DIVISION', 'REGION']
df = df_raw.drop(columns=columns_to_drop)
print(f'Dropped {len(columns_to_drop)} columns ({len(df.columns)} remain)')

# Drop values where dependent variable is unknown
df = df[df['METHUSE'] != -9]

# Only keep patients admitted with self-described use of an opioid as their primary substance use (i.e., SUB1 = 5, 6, or 7)
df = df[df['SUB1'].between(5, 7)]
new_rows = len(df)
percent_change = round(100*(old_rows-new_rows)/old_rows, 1)
print(f'Dropped {"{:,}".format(old_rows-new_rows)} observations or {percent_change}% of the data ({"{:,}".format(new_rows)} rows remain)')

df = df.reset_index(drop='index')

Dropped 5 columns (57 remain)
Dropped 1,340,233 observations or 71.9% of the data (524,134 rows remain)

## Make dataset human-readable

In [3]:
# Load in variable dictionary
with open('VariableDictionary.txt') as file:
    variable_dict_string = file.read()
    variable_dict = ast.literal_eval(variable_dict_string)

# Rename entries in column according to dictionary
df2 = df.copy()
for col, col_dict in variable_dict.items():
    if col in df2.columns:
        for old_value, new_value in variable_dict[col].items():
            df2[col] = df2[col].replace(old_value, new_value)

# Rename "-9" values as "Unknown"
for col in df2.columns:
    df2[col] = df2[col].replace(-9, 'Unknown')

# Merge DETNLF (detailed not in labor force) into EMPLOY==4 (not in labor force)
detailed_employ = []

for idx, value in df2.iterrows():
    if value['EMPLOY'] == 'NotInLaborForce':
        if value['DETNLF'] == 'Unknown':
            # Assign 'UnknownNotInLaborForce' if 'NotInLaborForce' and 'Unknown'
            detailed_employ.append('UnknownNotInLaborForce')
        else:
            # Otherwise, assign as the DETNLF value
            detailed_employ.append(value['DETNLF'])
    else:
        # Assign the EMPLOY value if not 'NotInLaborForce'
        detailed_employ.append(value['EMPLOY'])

# Add a new column for detailed employment and drop the two source columns
df2['DETEMPLOY'] = detailed_employ
df2 = df2.drop(columns=['EMPLOY', 'DETNLF'])

# Describe MOUD treatment frequency by state and living status
Calculate the percent difference between the two homeless/non-homeless and statistical difference

In [6]:
import pandas as pd
from scipy.stats import ttest_ind

# Simplify dataset
df_ttest = df2[['STFIPS', 'LIVARAG', 'METHUSE']]
df_ttest = df_ttest[df_ttest['LIVARAG'] != 'Unknown']
# df_ttest = df_ttest[df_ttest['LIVARAG'] != 'DependLiving']
df_ttest['LIVARAG'] = df_ttest['LIVARAG'].replace({'DependLiving':'Housed', 'IndependentLiving':'Housed'})
df_ttest['METHUSE'] = df_ttest['METHUSE'].replace({'MethUse':1, 'NoMethUse':0})

# Create loop assets
state_array = df_ttest['STFIPS'].sort_values().unique()
state_list = state_array.tolist()
state_list.append('USA')
df_state = pd.DataFrame(columns=['Homeless', 'Housed', 'PercentDifference', 'TStat', 'PValue', 'Significance'])

# Loop through each state
for s in state_list:
    # Define dataframe based on whether state or national
    if s == 'USA':
        dft_temp = df_ttest.copy()
    else:
        dft_temp = df_ttest[df_ttest['STFIPS'] == s]

    # Group by living arrangement and MOUD, then store those variables for later (if they exist)
    dft_grouped = dft_temp.groupby('LIVARAG')['METHUSE'].mean()
    homeless_moud = dft_grouped.loc['Homeless']
    independent_moud = dft_grouped.loc['Housed']

    # Calculate the percent difference (if there is a homeless group in that state)
    if independent_moud > 0:
       percent_difference = (homeless_moud - independent_moud)/independent_moud
    # elif homeless_moud = 0:
    #     percent_difference
    else:
        percent_difference = np.nan

    # Perform a t-test between the two groups
    group_A_values = dft_temp[dft_temp['LIVARAG'] == 'Homeless']['METHUSE']
    group_B_values = dft_temp[dft_temp['LIVARAG'] == 'Housed']['METHUSE']
    t_stat, p_value = ttest_ind(group_A_values, group_B_values)

    # Add significance based on p-value
    if p_value < 0.001:
        significance = '****'
    elif p_value < 0.01:
        significance = '***'
    elif p_value < 0.05:
        significance = '**'
    elif p_value <0.1:
        significance = '*'
    else:
        significance = ''

    # Add values to a dictionary and round
    dict_results = {'Homeless':homeless_moud, 'Housed':independent_moud, 'PercentDifference':percent_difference, 'TStat':t_stat, 'PValue':p_value}
    for key, value in dict_results.items():
        dict_results[key] = round(value, 6)

    # Add significance and to dictionary and then dictionary to dataframe
    dict_results['Significance'] = significance
    df_state.loc[s] = dict_results

# df_state.to_csv('frequencies.csv') #uncomment to save file
df_state

     Homeless    Housed  PercentDifference      TStat    PValue Significance
AK   0.387387  0.518122          -0.252324  -4.249484  0.000023         ****
AL   0.118734  0.312766          -0.620376  -8.004596  0.000000         ****
AR   0.103448  0.364159          -0.715925  -7.541382  0.000000         ****
CA   0.344436  0.669338          -0.485408 -61.263606  0.000000         ****
CO   0.364320  0.366509          -0.005972  -0.181478  0.855995
CT   0.176840  0.333963          -0.470480 -17.040277  0.000000         ****
DC   0.079659  0.057485           0.385728   1.725765  0.084591            *
DE   0.104848  0.253067          -0.585691  -9.880705  0.000000         ****
GA   0.207951  0.236675          -0.121363  -1.155031  0.248175
HI   0.060606  0.072626          -0.165501  -0.327188  0.743808
IA   0.281301  0.387677          -0.274393  -4.681897  0.000003         ****
ID   0.000000  0.023529          -1.000000  -0.532160  0.595857
IL   0.062088  0.102272          -0.392908  -5.841952  0.000000         ****
IN   0.240000  0.374981          -0.359968  -6.199392  0.000000         ****
KS   0.125000  0.208835          -0.401442  -1.235859  0.217522
KY   0.078405  0.306334          -0.744053 -18.254217  0.000000         ****
LA   0.013029  0.019440          -0.329757  -0.768877  0.442054
MA   0.216281  0.304790          -0.290394 -18.944718  0.000000         ****
MD   0.161132  0.524263          -0.692650 -66.669003  0.000000         ****
ME   0.753223  0.765075          -0.015492  -0.600491  0.548215
MI   0.522946  0.580268          -0.098785  -8.003398  0.000000         ****
MN   0.560697  0.526443           0.065067   2.556019  0.010602           **
MO   0.119259  0.153536          -0.223251  -3.137250  0.001711          ***
MS   0.011364  0.022648          -0.498252  -0.697494  0.485625
MT   0.000000  0.000000                NaN        NaN       NaN
NC   0.076720  0.141904          -0.459354  -5.059808  0.000000         ****
ND   0.187500  0.165217           0.134868   0.221732  0.824873
NE   0.122449  0.343137          -0.643149  -3.127550  0.001909          ***
NH   0.212121  0.198561           0.068292   0.560195  0.575455
NJ   0.685193  0.682183           0.004413   0.295288  0.767776
NM   0.901099  0.807537           0.115861   2.185773  0.029110           **
NV   0.333333  0.217304           0.533951   1.727083  0.084728            *
NY   0.346714  0.497272          -0.302767 -36.693141  0.000000         ****
OH   0.383109  0.310937           0.232111   4.203492  0.000027         ****
OK   0.000000  0.000000                NaN        NaN       NaN
PA   0.339956  0.370370          -0.082119  -1.810339  0.070273            *
PR   0.158273  0.275794          -0.426117  -2.964223  0.003097          ***
RI   0.445561  0.701554          -0.364894 -12.808389  0.000000         ****
SC   0.600000  0.492537           0.218182   0.457800  0.648514
SD   0.000000  0.283019          -1.000000  -2.873357  0.004236          ***
TN   0.005724  0.004804           0.191333   0.415806  0.677564
TX   0.093907  0.299862          -0.686832 -17.924876  0.000000         ****
UT   0.160550  0.307388          -0.477694 -10.823623  0.000000         ****
VA   0.000000  0.000000                NaN        NaN       NaN
VT   0.668998  0.720878          -0.071969  -2.208600  0.027275           **
WI   0.051107  0.141311          -0.638334  -6.132794  0.000000         ****
WY   0.111111  0.040453           1.746667   1.765108  0.078020            *
USA  0.285596  0.428059          -0.332811 -77.837711  0.000000         ****