## Load data

In [1]:
import pandas as pd
import ast
import numpy as np

# Load in data
admissions = 'tedsa_puf_2019.csv'
df_raw = pd.read_csv(f'../../Downloads/{admissions}')

## Filter out select rows and columns

In [2]:
# Get count of original number of rows
old_rows = len(df_raw)

# Drop defined columns (year of admission, case id, geographic metro area, geographic division, geographic region)
columns_to_drop = ['ADMYR', 'CASEID', 'CBSA2010', 'DIVISION', 'REGION']
df = df_raw.drop(columns=columns_to_drop)
print(f'Dropped {len(columns_to_drop)} columns ({len(df.columns)} remain)')

# Drop values where dependent variable is unknown
df = df[df['METHUSE'] != -9]

# Only keep patients admitted with self-described use of an opioid as their primary substance use (i.e., SUB1 = 5, 6, or 7)
df = df[df['SUB1'].between(5, 7)]
new_rows = len(df)
percent_change = round(100*(old_rows-new_rows)/old_rows, 1)
print(f'Dropped {"{:,}".format(old_rows-new_rows)} observations or {percent_change}% of the data ({"{:,}".format(new_rows)} rows remain)')

df = df.reset_index(drop='index')

Dropped 5 columns (57 remain)
Dropped 1,340,233 observations or 71.9% of the data (524,134 rows remain)

## Make dataset human-readable

In [3]:
# Load in variable dictionary
with open('VariableDictionary.txt') as file:
    variable_dict_string = file.read()
    variable_dict = ast.literal_eval(variable_dict_string)

# Rename entries in column according to dictionary
df2 = df.copy()
for col, col_dict in variable_dict.items():
    if col in df2.columns:
        for old_value, new_value in variable_dict[col].items():
            df2[col] = df2[col].replace(old_value, new_value)

# Rename "-9" values as "Unknown"
for col in df2.columns:
    df2[col] = df2[col].replace(-9, 'Unknown')

# Merge DETNLF (detailed not in labor force) into EMPLOY==4 (not in labor force)
detailed_employ = []

for idx, value in df2.iterrows():
    if value['EMPLOY'] == 'NotInLaborForce':
        if value['DETNLF'] == 'Unknown':
            # Assign 'UnknownNotInLaborForce' if 'NotInLaborForce' and 'Unknown'
            detailed_employ.append('UnknownNotInLaborForce')
        else:
            # Otherwise, assign as the DETNLF value
            detailed_employ.append(value['DETNLF'])
    else:
        # Assign the EMPLOY value if not 'NotInLaborForce'
        detailed_employ.append(value['EMPLOY'])

# Add a new column for detailed employment and drop the two source columns
df2['DETEMPLOY'] = detailed_employ
df2 = df2.drop(columns=['EMPLOY', 'DETNLF'])

## Frequencies by subgroup

In [94]:
total = len(df2)
df3 = df2.copy()
df3 = df3.replace({'MethUse':1, 'NoMethUse':0})

df_freq = pd.DataFrame()

for col in ['STFIPS', 'LIVARAG']:

    dff = df3.groupby([col])['METHUSE'].mean()
    dff = pd.DataFrame(dff)

    dff2 = df3.groupby([col])['METHUSE'].count()
    dff2 = pd.DataFrame(dff2)

    dff3 = pd.merge(dff, dff2, how='inner', left_index=True, right_index=True)
    dff3 = dff3.reset_index()
    dff3 = dff3.rename(columns={'METHUSE_x': 'frequency', 'METHUSE_y': 'n', col: 'subgroup'})
    dff3['subgroup_share'] = dff3['n']/total
    dff3.insert(0, 'group', col)

    df_freq = pd.concat([df_freq, dff3])

df_freq = df_freq.reset_index(drop=True)
df_freq

      group           subgroup  frequency       n     share
0    STFIPS                 AK   0.492826    1603  0.003058
1    STFIPS                 AL   0.297194    5774  0.011016
2    STFIPS                 AR   0.337956    1947  0.003715
3    STFIPS                 AZ   0.181176   10189  0.019440
4    STFIPS                 CA   0.587804   42031  0.080191
5    STFIPS                 CO   0.367730   13102  0.024997
6    STFIPS                 CT   0.307296   23274  0.044405
7    STFIPS                 DC   0.067308    1560  0.002976
8    STFIPS                 DE   0.238608    8910  0.016999
9    STFIPS                 GA   0.231366    2965  0.005657
10   STFIPS                 HI   0.068826     247  0.000471
11   STFIPS                 IA   0.357866    2174  0.004148
12   STFIPS                 ID   0.020619      97  0.000185
13   STFIPS                 IL   0.097016   16255  0.031013
14   STFIPS                 IN   0.365121    7162  0.013664
15   STFIPS                 KS   0.199324     296  0.000565
16   STFIPS                 KY   0.254062    6463  0.012331
17   STFIPS                 LA   0.018475    2111  0.004028
18   STFIPS                 MA   0.277643   44251  0.084427
19   STFIPS                 MD   0.495494   72675  0.138657
20   STFIPS                 ME   0.763412    3728  0.007113
21   STFIPS                 MI   0.568634   29140  0.055596
22   STFIPS                 MN   0.535017   10138  0.019342
23   STFIPS                 MO   0.147936    8889  0.016959
24   STFIPS                 MS   0.021429    1260  0.002404
25   STFIPS                 MT   0.000000     106  0.000202
26   STFIPS                 NC   0.136436   15707  0.029968
27   STFIPS                 ND   0.180451     133  0.000254
28   STFIPS                 NE   0.316883     385  0.000735
29   STFIPS                 NH   0.203976    1157  0.002207
30   STFIPS                 NJ   0.682622   30941  0.059033
31   STFIPS                 NM   0.853293    3006  0.005735
32   STFIPS                 NV   0.319444     648  0.001236
33   STFIPS                 NY   0.466893   90297  0.172278
34   STFIPS                 OH   0.322792    8411  0.016047
35   STFIPS                 OK   0.000000    2574  0.004911
36   STFIPS                 PA   0.368330   10420  0.019880
37   STFIPS                 PR   0.261538    1170  0.002232
38   STFIPS                 RI   0.669903    5768  0.011005
39   STFIPS                 SC   0.493151      73  0.000139
40   STFIPS                 SD   0.271084     498  0.000950
41   STFIPS                 TN   0.005099    7256  0.013844
42   STFIPS                 TX   0.248457    7941  0.015151
43   STFIPS                 UT   0.259891    4575  0.008729
44   STFIPS                 VA   0.000000    6704  0.012791
45   STFIPS                 VT   0.723916    3412  0.006510
46   STFIPS                 WI   0.125701    6062  0.011566
47   STFIPS                 WY   0.047766     649  0.001238
48  LIVARAG       DependLiving   0.345413   83668  0.159631
49  LIVARAG           Homeless   0.285596   85824  0.163744
50  LIVARAG  IndependentLiving   0.449223  326715  0.623343
51  LIVARAG            Unknown   0.414080   27927  0.053282

In [84]:
dff3.reset_index()

    index STFIPS  METHUSE_x  METHUSE_y
0       0     AK   0.492826       1603
1       1     AL   0.297194       5774
2       2     AR   0.337956       1947
3       3     AZ   0.181176      10189
4       4     CA   0.587804      42031
5       5     CO   0.367730      13102
6       6     CT   0.307296      23274
7       7     DC   0.067308       1560
8       8     DE   0.238608       8910
9       9     GA   0.231366       2965
10     10     HI   0.068826        247
11     11     IA   0.357866       2174
12     12     ID   0.020619         97
13     13     IL   0.097016      16255
14     14     IN   0.365121       7162
15     15     KS   0.199324        296
16     16     KY   0.254062       6463
17     17     LA   0.018475       2111
18     18     MA   0.277643      44251
19     19     MD   0.495494      72675
20     20     ME   0.763412       3728
21     21     MI   0.568634      29140
22     22     MN   0.535017      10138
23     23     MO   0.147936       8889
24     24     MS   0.021429       1260
25     25     MT   0.000000        106
26     26     NC   0.136436      15707
27     27     ND   0.180451        133
28     28     NE   0.316883        385
29     29     NH   0.203976       1157
30     30     NJ   0.682622      30941
31     31     NM   0.853293       3006
32     32     NV   0.319444        648
33     33     NY   0.466893      90297
34     34     OH   0.322792       8411
35     35     OK   0.000000       2574
36     36     PA   0.368330      10420
37     37     PR   0.261538       1170
38     38     RI   0.669903       5768
39     39     SC   0.493151         73
40     40     SD   0.271084        498
41     41     TN   0.005099       7256
42     42     TX   0.248457       7941
43     43     UT   0.259891       4575
44     44     VA   0.000000       6704
45     45     VT   0.723916       3412
46     46     WI   0.125701       6062
47     47     WY   0.047766        649

# Describe MOUD treatment frequency by state and living status
Calculate the percent difference between the homeless and housed as well as its statistical difference

In [18]:
import pandas as pd
from scipy.stats import ttest_ind

# Simplify dataset
df_ttest = df2[['STFIPS', 'LIVARAG', 'METHUSE']]
df_ttest = df_ttest[df_ttest['LIVARAG'] != 'Unknown']
# df_ttest = df_ttest[df_ttest['LIVARAG'] != 'DependLiving']
df_ttest['LIVARAG'] = df_ttest['LIVARAG'].replace({'DependLiving':'Housed', 'IndependentLiving':'Housed'})
df_ttest['METHUSE'] = df_ttest['METHUSE'].replace({'MethUse':1, 'NoMethUse':0})

# Create loop assets
state_array = df_ttest['STFIPS'].sort_values().unique()
state_list = state_array.tolist()
state_list.append('USA')
df_state = pd.DataFrame(columns=['Homeless', 'Housed', 'PercentDifference', 'TStat', 'PValue', 'Significance'])

# Loop through each state
for s in state_list:
    # Define dataframe based on whether state or national
    if s == 'USA':
        dft_temp = df_ttest.copy()
    else:
        dft_temp = df_ttest[df_ttest['STFIPS'] == s]

    # Group by living arrangement and MOUD, then store those variables for later (if they exist)
    # dft_grouped = dft_temp.groupby('LIVARAG')['METHUSE'].mean()
    # dft_grouped = dft_temp.groupby('LIVARAG')['METHUSE'].sum()
    dft_grouped = dft_temp.groupby('LIVARAG')['METHUSE'].count()
    homeless_moud = dft_grouped.loc['Homeless']
    independent_moud = dft_grouped.loc['Housed']

    # Calculate the percent difference (if there is a homeless group in that state)
    if independent_moud > 0:
       percent_difference = (homeless_moud - independent_moud)/independent_moud
    # elif homeless_moud = 0:
    #     percent_difference
    else:
        percent_difference = np.nan

    # Perform a t-test between the two groups
    group_A_values = dft_temp[dft_temp['LIVARAG'] == 'Homeless']['METHUSE']
    group_B_values = dft_temp[dft_temp['LIVARAG'] == 'Housed']['METHUSE']
    t_stat, p_value = ttest_ind(group_A_values, group_B_values)

    # Add significance based on p-value
    if p_value < 0.001:
        significance = '****'
    elif p_value < 0.01:
        significance = '***'
    elif p_value < 0.05:
        significance = '**'
    elif p_value <0.1:
        significance = '*'
    else:
        significance = ''

    # Add values to a dictionary and round
    dict_results = {'Homeless':homeless_moud, 'Housed':independent_moud, 'PercentDifference':percent_difference, 'TStat':t_stat, 'PValue':p_value}
    for key, value in dict_results.items():
        dict_results[key] = round(value, 6)

    # Add significance and to dictionary and then dictionary to dataframe
    dict_results['Significance'] = significance
    df_state.loc[s] = dict_results

# df_state.to_csv('frequencies.csv') #uncomment to save file
df_state

    Homeless  Housed  PercentDifference      TStat    PValue Significance
AK       333    1214          -0.725700  -4.249484  0.000023         ****
AL       379    5170          -0.926692  -8.004596  0.000000         ****
AR       203    1741          -0.883400  -7.541382  0.000000         ****
CA     10568   31443          -0.663900 -61.263606  0.000000         ****
CO      1861   11203          -0.833884  -0.181478  0.855995
CT      2867   19592          -0.853665 -17.040277  0.000000         ****
DC       703     835          -0.158084   1.725765  0.084591            *
DE       887    7907          -0.887821  -9.880705  0.000000         ****
GA       327    2514          -0.869928  -1.155031  0.248175
HI        66     179          -0.631285  -0.327188  0.743808
IA       615    1558          -0.605263  -4.681897  0.000003         ****
ID        12      85          -0.858824  -0.532160  0.595857
IL      2126   14129          -0.849529  -5.841952  0.000000         ****
IN       525    6627          -0.920779  -6.199392  0.000000         ****
KS        40     249          -0.839357  -1.235859  0.217522
KY      1505    4926          -0.694478 -18.254217  0.000000         ****
LA       307    1749          -0.824471  -0.768877  0.442054
MA     12997   30690          -0.576507 -18.944718  0.000000         ****
MD      9185   53807          -0.829297 -66.669003  0.000000         ****
ME       543    3184          -0.829460  -0.600491  0.548215
MI      6014   23110          -0.739766  -8.003398  0.000000         ****
MN      1664    8282          -0.799082   2.556019  0.010602           **
MO      1241    7184          -0.827255  -3.137250  0.001711          ***
MS        88    1148          -0.923345  -0.697494  0.485625
MT        22      84          -0.738095        NaN       NaN
NC       756   14531          -0.947973  -5.059808  0.000000         ****
ND        16     115          -0.860870   0.221732  0.824873
NE        49     306          -0.839869  -3.127550  0.001909          ***
NH       462     695          -0.335252   0.560195  0.575455
NJ      2249   28658          -0.921523   0.295288  0.767776
NM        91     743          -0.877524   2.185773  0.029110           **
NV        42     497          -0.915493   1.727083  0.084728            *
NY     18260   72025          -0.746477 -36.693141  0.000000         ****
OH       817    7278          -0.887744   4.203492  0.000027         ****
OK       214    2360          -0.909322        NaN       NaN
PA       906    9045          -0.899834  -1.810339  0.070273            *
PR       139    1008          -0.862103  -2.964223  0.003097          ***
RI       597    5083          -0.882550 -12.808389  0.000000         ****
SC         5      67          -0.925373   0.457800  0.648514
SD        21     477          -0.955975  -2.873357  0.004236          ***
TN      1223    5828          -0.790151   0.415806  0.677564
TX      1789    5816          -0.692400 -17.924876  0.000000         ****
UT      1526    3032          -0.496702 -10.823623  0.000000         ****
VA       541    5823          -0.907093        NaN       NaN
VT       429    2687          -0.840342  -2.208600  0.027275           **
WI       587    5081          -0.884472  -6.132794  0.000000         ****
WY        27     618          -0.956311   1.765108  0.078020            *
USA    85824  410383          -0.790869 -77.837711  0.000000         ****