In [44]:
import pandas as pd
import ast

# Load in data
admissions = 'tedsa_puf_2019.csv'
df = pd.read_csv(f'../../Downloads/{admissions}')

# Drop defined columns
columns_to_drop = ['ADMYR', 'CASEID', 'DETNLF', 'DETCRIM']
df = df.drop(columns=columns_to_drop)
print(f'Dropped {len(columns_to_drop)} columns ({len(df.columns)} remain)')

# Only keep patients admitted with self-described use of an opioid as their primary substance use
old_rows = len(df)
df = df[df['SUB1'].between(5, 7)]
new_rows = len(df)
percent_change = round((old_rows-new_rows)/old_rows, 1)*100
print(f'Dropped {old_rows-new_rows} observations or {percent_change}% of the data {new_rows} rows remain)')

df = df.reset_index(drop='index')

Dropped 3 columns (59 remain
Dropped 1298757 observations or 70.0% of the data 565610 rows remaining

In [40]:
df

,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,ARRESTS,EMPLOY,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2,-9,2,1,7,-9,3,1,0,3,...,0,0,0,0,0,0,9,4,1,3
1,2,-9,3,1,7,-9,2,3,0,4,...,0,0,0,0,0,0,9,4,1,2
2,2,-9,1,2,7,-9,5,2,0,4,...,0,0,0,0,0,0,9,4,1,2
3,2,-9,3,1,7,-9,3,3,0,4,...,0,0,0,0,0,0,9,4,1,2
4,2,-9,3,1,7,-9,1,2,0,2,...,0,0,0,0,0,0,9,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565605,56,-9,-9,2,6,-9,0,6,0,3,...,0,0,0,0,0,0,8,4,0,2
565606,56,-9,-9,2,6,1,2,7,0,3,...,0,0,0,0,0,0,8,4,0,2
565607,56,-9,3,1,7,-9,3,2,0,3,...,0,0,1,0,0,0,8,4,0,3
565608,56,-9,1,1,7,3,0,7,0,4,...,0,0,0,0,0,0,8,4,0,2
565609,56,-9,2,1,7,3,0,7,0,4,...,0,0,0,0,0,1,8,4,0,2

In [25]:
# Load in variable dictionary
with open('variable_dictionary.txt') as file:
    variable_dict_string = file.read()
    variable_dict = ast.literal_eval(variable_dict_string)

# todo Rename "-9" values as "Unknown"

# Rename entries in column according to dictionary
df2 = df.copy()
for col, col_dict in variable_dict.items():
    # print(col, type(variable_dict[col]))
    for old_value, new_value in variable_dict[col].items():
        df2[col] = df2[col].replace(old_value, new_value)

<class 'dict'>

In [26]:
df2

,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,ARRESTS,EMPLOY,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2,-9,GradeOrLess,NeverMarried,7,-9,0,1,0,NotInLaborForce,...,0,0,0,0,0,0,9,4,0,3
1,2,-9,Grade12OrGED,NowMarried,7,-9,1,1,0,Unemployed,...,0,0,0,0,0,0,9,4,0,3
2,2,-9,Grade12OrGED,NowMarried,7,-9,2,1,0,PartTime,...,0,0,0,0,0,0,9,4,0,3
3,2,-9,1To3yCollege,NeverMarried,7,-9,0,1,0,FullTime,...,0,0,0,0,0,1,9,4,0,3
4,2,-9,1To3yCollege,NeverMarried,7,-9,0,1,0,FullTime,...,0,0,0,0,0,1,9,4,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864362,56,-9,GradeOrLess,NeverMarried,6,3,0,7,0,NotInLaborForce,...,0,0,0,0,0,0,8,4,0,3
1864363,56,-9,Grade9To11,NeverMarried,7,3,0,7,0,NotInLaborForce,...,0,0,0,0,0,1,8,4,0,3
1864364,56,-9,Grade9To11,NeverMarried,7,3,0,7,1,NotInLaborForce,...,0,0,0,0,0,0,8,4,0,3
1864365,56,-9,GradeOrLess,NeverMarried,7,3,0,7,-9,NotInLaborForce,...,0,0,0,0,1,0,8,4,0,3
1864366,56,-9,Grade12OrGED,DivorcedOrWidowed,7,3,0,7,0,FullTime,...,0,0,0,0,0,0,8,4,0,1

In [ ]:
# todo add CBSA prefix
# todo drop puerto rico