In [101]:
import pandas as pd
import ast

# todo fix syntax error
# todo drop DETNLF

# Load in data
admissions = 'tedsa_puf_2019.csv'
df = pd.read_csv(f'../../Downloads/{admissions}')

with open('variable_dictionary.txt') as file:
    variable_dict_string = file.read()
    variable_dict = ast.literal_eval(variable_dict_string)

SyntaxError: invalid syntax (<unknown>, line 34)

In [ ]:
df

In [78]:
print(variable_dict)
type(variable_dict)

{'AGE': {1: 'Age12To14', 2: 'Age15To17', 3: 'Age18To20', 4: 'Age21To24', 5: 'Age25To29', 6: 'Age30To34', 7: 'Age35To39', 8: 'Age40To44', 9: 'Age45To49', 10: 'Age50To54', 11: 'Age55To64', 12: 'Age65Plus'}, 'GENDER': {1: 'Male', 2: 'Female'}, 'RACE': {1: 'AmericanIndianOrAlaskaNative', 2: 'AmericanIndianOrAlaskaNative', 3: 'AsianOrPacificIslander', 4: 'Black', 5: 'White', 6: 'AsianOrPacificIslander', 7: 'OtherSingleRace', 8: 'TwoPlusRaces', 9: 'AsianOrPacificIslander'}}

dict

In [90]:
df2 = df
for col, col_dict in variable_dict.items():
    for old_value, new_value in variable_dict[col].items():
        df2[col] = df2[col].replace(old_value, new_value)

In [99]:
df['AGE']

0          Age12To14
1          Age40To44
2          Age25To29
3          Age40To44
4          Age40To44
             ...
1864362    Age15To17
1864363    Age15To17
1864364    Age15To17
1864365    Age12To14
1864366    Age45To49
Name: AGE, Length: 1864367, dtype: object

In [97]:
df2['AGE']

0          Age12To14
1          Age40To44
2          Age25To29
3          Age40To44
4          Age40To44
             ...
1864362    Age15To17
1864363    Age15To17
1864364    Age15To17
1864365    Age12To14
1864366    Age45To49
Name: AGE, Length: 1864367, dtype: object